#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background : linear-gradient(to right bottom, #020541, #031152, #061a64, #092476, #0a2e89, #153898, #1e43a8, #264eb8, #365cc8, #446ad9, #5279ea, #5f88fb);
}

.img-ctrl{
  height: 250px;
  object-fit: contain;
}

.card-clr{
  background-color: #f5f0ed;
}
