<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      BMI Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Put your measurments</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="inline">Height</ion-label>
              <ion-input type="number" placeholder="In Cm" [(ngModel)]="height"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="inline">Weight</ion-label>
              <ion-input type="number" placeholder="In Kg" [(ngModel)]="weight"></ion-input>
            </ion-item>
            <div class="ion-text-right">
              <ion-button (click)="bmiCalculation()">
                <ion-icon slot="start" name="accessibility-outline"></ion-icon>
                Calculate
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="bmi">
      <ion-col size-md="6" offset-md="3">
        <ion-card class="card-clr">
          <ion-card-header>
            <ion-card-title>Your are {{description}}</ion-card-title>
            <ion-card-subtitle>Your BMI is {{bmi | number}} </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-img class="img-ctrl" [src]="imgSrc"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
